<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904525923498-9c0inkdhlmhns7nosflivepqjc06vj7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904525923498-9c0inkdhlmhns7nosflivepqjc06vj7r</string>
	<key>API_KEY</key>
	<string>AIzaSyDo-Ose-ClwCpYTBrm3O1wQRuTleQ4pHzg</string>
	<key>GCM_SENDER_ID</key>
	<string>904525923498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmg.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-cmg89</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-cmg89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904525923498:ios:5cefc0c8e3231ecb</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-cmg89.firebaseio.com</string>
</dict>
</plist>